{% extends 'layouts/template.twig' %}

{% block title %}Liste des demandes en attentes{% endblock %}

{% block content %}
    <main id="listeAttente">
        <section class="boxSite">
            <table class="table table-striped">
                <tr>
                    <th>Label VG</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Nombre de place</th>
                    <th>Commentaires</th>
                    <th class="text-center">Voir</th>
                </tr>
                {% for attente in attentes %}
                    <tr>
                        <td>{{ attente.LABEL_VG }}</td>
                        <td>{{ attente.NOM_RESA }}</td>
                        <td>{{ attente.PRENOM_RESA }}</td>
                        <td>{{ attente.NBR_RESA }}</td>
                        <td>{{ attente.INFO_RESA }}</td>
                        <td class="text-center"><a class="bouton" href="{{ route('admin.resa.show', {id: attente.ID_RESA}) }}">Voir</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div id="erreurSupp" class="red">
                {% if errors.erreur_supp %}
                    {{ errors.erreur_supp }}
                {% endif %}
            </div>
        </section>


    </main>
{% endblock %}