{% extends 'layouts/template.twig' %}

{% block title %}Gestion Administrateur{% endblock %}

{% block content %}
    <main id="panneaux">
        <section class="boxSite" id="ajoutVG">
            <h2>Vide-greniers:</h2>
            <h3>Programmer un prochain vide-grenier</h3>
            <a href="{{ route('admin.videgrenier.new') }}" class="bouton">Programmer</a>
            <h3>Modifier un vide-grenier</h3>
            <a href="{{ route('admin.videgrenier.liste') }}" class="bouton">Modifier</a>
        </section>

        <section class="boxSite" id="configUtilisateur">
            <h2>Utilisateurs:</h2>
            <h3>Voir les Utilisateurs:</h3>
            <a href="{{ route('admin.utilisateur.liste') }}" class="bouton">Voir</a>
            <h3>Voir les demandes en attentes:</h3>
            <a href="{{ route('admin.attente') }}" class="bouton">Voir</a>
        </section>

        <section class="boxSite" id="configMailing">
            <h2>Mailing Liste:</h2>
            <h3>Voir la Mailing Liste:</h3>
            <a href="{{ route('admin.mailing.liste') }}" class="bouton">Voir</a>
        </section>
    </main>
{% endblock %}