{% extends 'layouts/template.twig' %}

{% block title %}Suppression d'un utilisateur{% endblock %}

{% block content %}
    <section id="confirm" class="boxSite py-3">
        <p>Utilisateur supprimer</p>
        <a class="btn btn-outline-primary" href="{{ route('admin.utilisateur.liste') }}">
            Retour à la liste des utilisateurs
        </a>
    </section>
{% endblock %}