{% extends 'layouts/template.twig' %}

{% block title %}Suppression d'un mail dans ML{% endblock %}

{% block content %}
    <section id="confirm" class="boxSite py-3">
        <p>Mail supprimer</p>
        <a class="btn btn-outline-primary" href="{{ route('admin.mailing.liste') }}">
            Retour à la Mailing Liste
        </a>
    </section>
{% endblock %}