{% extends 'layouts/template.twig' %}

{% block title %}Liste des vide-greniers{% endblock %}

{% block content %}
    <main id="listeVG">
        {% if errors.erreur_prog %}
            <div id="erreurUpdateVG" class="red boxSite">
                {{ errors.erreur_prog }}
            </div>
        {% endif %}
        {% for videgrenier in videgreniers %}
            <section class="boxSite">
                <table class="table table-striped" id="{{ videgrenier.ID_VG }}">
                    <tr>
                        <th>Label</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Adresse</th>
                        <th>Emplacement</th>
                        <th>Emplacement Restant</th>
                        <th>Prix</th>
                    </tr>
                    <tr>
                        <td>{{ videgrenier.LABEL_VG }}</td>
                        <td>{{ videgrenier.DATE_VG|format_datetime(locale='fr',pattern="dd/MM/YYYY") }}</td>
                        <td>de {{ videgrenier.HEURE_DEBUT_VG|format_datetime(locale='fr',pattern="HH'h'mm") }}
                            à {{ videgrenier.HEURE_FIN_VG|format_datetime(locale='fr',pattern="HH'h'mm") }}</td>
                        <td>{{ videgrenier.ADRESSE_VG }}</td>
                        <td>{{ videgrenier.NBR_EMPLACEMENTS }}</td>
                        <td>{{ videgrenier.NBR_RESTANT_VG }}</td>
                        <td>{{ videgrenier.PRIX_EMPLACEMENTS }}</td>
                    </tr>
                </table>
                <div>
                    <a href="{{ route('admin.videgrenier.edit', {id: videgrenier.ID_VG}) }}"
                       class="bouton">Modifier</a>
                </div>
            </section>
        {% endfor %}
    </main>
{% endblock %}