{% extends 'layouts/template.twig' %}

{% block title %}Liste de la mailing liste{% endblock %}

{% block content %}
    <main id="listeUtil">
        <section class="boxSite">
            <form method="POST" action="{{ route('admin.mailing.delete') }}" id="formSupp">
                <table class="table table-striped">
                    <tr>
                        <th>Mail</th>
                        <th class="text-center">Supprimer Mail</th>
                    </tr>
                    {% for mail in mails %}
                        <tr>
                            <td>{{ mail.MAIL_ML }}</td>
                            <td class="text-center">
                                <input type="radio" id="{{ mail.ID_ML }}" name="choix"
                                       value="{{ mail.ID_ML }}">
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="text-center">
                    <button class="bouton" type="submit">Supprimer</button>
                </div>
            </form>
            <section class="row" id="suivantPrecedent">
                {% if page != 1 %}
                    <div class="text-left col-md-6">
                        <a class="bouton" href="{{ route('admin.mailing.liste')~'?page='~(page - 1) }}"><--</a>
                    </div>
                {% else %}
                    <div class="text-left col-md-6"></div>
                {% endif %}
                {% if page != nbrPage %}
                    <div class="text-right col-md-6">
                        <a class="bouton" href="{{ route('admin.mailing.liste')~'?page='~(page + 1) }}">--></a>
                    </div>
                {% else %}
                    <div class="text-right col-md-6"></div>
                {% endif %}
            </section>
            <div id="erreurSuppMl" class="red">
                {% if errors.erreur_supp_ml %}
                    {{ errors.erreur_supp_ml }}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}