{% extends 'layouts/template.twig' %}

{% block title %}Programmation de vide-grenier{% endblock %}

{% block content %}
    <main id="programation" class="boxSite">
        <form method="post" action="{{ route('admin.videgrenier.create') }}" id="progDB">
            <h3>Programmation</h3>
            <div class="form-group">
                <label for="LABEL_VG">*Nom du vide-grenier:</label>
                <input type="text" class="form-control" name="LABEL_VG" id="label" placeholder="Vide-grenier annuel">
            </div>
            <div class="form-group">
                <label for="DATE_VG">*Date:</label>
                <input type="date" class="form-control" name="DATE_VG" id="date">
            </div>
            <div class="form-group">
                <label for="HEURE_DEBUT_VG">*Heure début:</label>
                <input type="time" class="form-control" name="HEURE_DEBUT_VG" id="heure">
            </div>
            <div class="form-group">
                <label for="HEURE_FIN_VG">*Heure fin:</label>
                <input type="time" class="form-control" name="HEURE_FIN_VG" id="heure">
            </div>
            <div class="form-group">
                <label for="ADRESSE_VG">*Adresse:</label>
                <input type="text" class="form-control" name="ADRESSE_VG" id="adresse"
                       placeholder="Esplanade de la Gravière, Avenue De Limburg., Sainte-foy-lès-lyon 69110">
            </div>
            <div class="form-group">
                <label for="NBR_EMPLACEMENTS">*Nombres d'emplacement: </label>
                <input type="number" min="1" class="form-control" name="NBR_EMPLACEMENTS" id="nombre">
            </div>
            <div class="form-group">
                <label for="PRIX_EMPLACEMENTS">*Prix à l'unité: </label>
                <input type="number" min="1" class="form-control" name="PRIX_EMPLACEMENTS" id="prix">
            </div>
            <p>(*)Champs obligatoires</p>
            <div class="text-center">
                <input class="bouton" type="submit" value="Valider" id="subProg">
            </div>
            <div id="erreurProg" class="red">
                {% if errors.erreur_prog %}
                    {{ errors.erreur_prog }}
                {% endif %}
            </div>
        </form>
    </main>
{% endblock %}