{% extends 'layouts/template.twig' %}

{% block title %}Modifier un vide-grenier{% endblock %}

{% block content %}
    <main id="programation" class="boxSite">
        <form method="post" action="{{ route('admin.videgrenier.update', {id: videgrenier.ID_VG}) }}" id="progDB">
            <h3>Modification Vide-Grenier</h3>
            <div class="form-group">
                <label for="LABEL_VG">*Nom du vide-grenier: </label>
                <input type="text" class="form-control" value="{{ videgrenier.LABEL_VG }}" name="LABEL_VG" id="label"
                       placeholder="Vide-grenier annuel">
            </div>
            <div class="form-group">
                <label for="DATE_VG">*Date: </label>
                <input type="date" class="form-control" value="{{ videgrenier.DATE_VG }}" name="DATE_VG" id="date">
            </div>
            <div class="form-group">
                <label for="HEURE_DEBUT_VG">*Heure début: </label>
                <input type="time" class="form-control" value="{{ videgrenier.HEURE_DEBUT_VG }}" name="HEURE_DEBUT_VG"
                       id="heure">
            </div>
            <div class="form-group">
                <label for="HEURE_FIN_VG">*Heure fin: </label>
                <input type="time" class="form-control" value="{{ videgrenier.HEURE_FIN_VG }}" name="HEURE_FIN_VG"
                       id="heure">
            </div>
            <div class="form-group">
                <label for="ADRESSE_VG">*Adresse: </label>
                <input type="text" class="form-control" value="{{ videgrenier.ADRESSE_VG }}" name="ADRESSE_VG"
                       id="addresse"
                       placeholder="Esplanade de la Gravière, Avenue De Limburg., Sainte-foy-lès-lyon 69110">
            </div>
            <div class="form-group">
                <label for="NBR_EMPLACEMENTS">*Nombres d'emplacement: </label>
                <input type="number" min="1" class="form-control" value="{{ videgrenier.NBR_EMPLACEMENTS }}"
                       name="NBR_EMPLACEMENTS"
                       id="nombre">
            </div>
            <div class="form-group">
                <label for="NBR_RESTANT_VG">*Nombres d'emplacement restant: </label>
                <input type="number" min="1" class="form-control" value="{{ videgrenier.NBR_RESTANT_VG }}"
                       name="NBR_RESTANT_VG"
                       id="nombreRes">
            </div>
            <div class="form-group">
                <label for="PRIX_EMPLACEMENTS">*Prix à l'unité: </label>
                <input type="number" min="1" class="form-control" value="{{ videgrenier.PRIX_EMPLACEMENTS }}"
                       name="PRIX_EMPLACEMENTS" id="prix">
            </div>
            <p>(*)Champs obligatoires</p>
            <div class="text-center">
                <input class="bouton" type="submit" value="Valider" id="subProg">
            </div>
            <div id="erreurProg" class="red">
                {% if errors.erreur_prog %}
                    {{ errors.erreur_prog }}
                {% endif %}
            </div>
        </form>
    </main>
{% endblock %}