{% extends 'layouts/template.twig' %}

{% block title %}Update demande en attente{% endblock %}

{% block content %}
    <section id="confirm" class="boxSite py-3">
        <p>Votre mis à jour de la demande est validée!</p>
        <a class="btn btn-outline-primary" href="{{ route('admin.attente') }}">Retour aux reservations</a>
    </section>
{% endblock %}