{% extends 'layouts/template.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}
    <main id="listeUtil">
        <section class="boxSite">
            <form method="POST" action="{{ route('admin.utilisateur.delete') }}" id="formSupp">
                <table class="table table-striped">
                    <tr>
                        <th>Mail</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Telephone</th>
                        <th>Description</th>
                        <th class="text-center">Supprimer Utilisateur</th>
                    </tr>
                    {% for utilisateur in utilisateurs %}
                        <tr>
                            <td>{{ utilisateur.MAIL_UTIL }}</td>
                            <td>{{ utilisateur.NOM_UTIL }}</td>
                            <td>{{ utilisateur.PRENOM_UTIL }}</td>
                            <td>{{ utilisateur.TEL_UTIL }}</td>
                            <td>{{ utilisateur.DESC_UTIL }}</td>
                            <td class="text-center">
                                <input type="radio" id="{{ utilisateur.ID_UTIL }}" name="choix"
                                       value="{{ utilisateur.ID_UTIL }}">
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="text-center">
                    <button class="bouton" type="submit">Supprimer</button>
                </div>
            </form>
            <section class="row" id="suivantPrecedent">
                {% if page != 1 %}
                    <div class="text-left col-md-6">
                        <a class="bouton" href="{{ route('admin.utilisateur.liste')~'?page='~(page - 1) }}"><--</a>
                    </div>
                {% else %}
                    <div class="text-left col-md-6"></div>
                {% endif %}
                {% if page != nbrPage %}
                <div class="text-right col-md-6">
                    <a class="bouton" href="{{ route('admin.utilisateur.liste')~'?page='~(page + 1) }}">--></a>
                </div>
                {% else %}
                <div class="text-right col-md-6"></div>
                {% endif %}
            </section>
            <div id="erreurSupp" class="red">
                {% if errors.erreur_supp %}
                    {{ errors.erreur_supp }}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}