{% extends 'layouts/template.twig' %}

{% block title %}Modifier un vide-grenier{% endblock %}

{% block content %}
    <section id="confirm" class="boxSite py-3">
        <p>Votre modification est validée</p>
        <a class="btn btn-outline-primary" href="{{ route('admin.index') }}">Retour à la liste</a>
    </section>
{% endblock %}