{% extends 'layouts/template.twig' %}

{% block title %}Vérification Programmation{% endblock %}

{% block content %}
    <section id="confirm" class="boxSite py-3">
        <p>Vide-grenier programmé!</p>
        <a class="btn btn-outline-primary" href="{{ route('admin.index') }}">Retour</a>
    </section>
{% endblock %}