{% extends'layouts/template.twig' %}

{% block title %}Voir demande en attente{% endblock %}

{% block content %}
    <main id="listeAttente">
        <section class="boxSite">
            <section id="recapResa">
                <h4></h4>
                <p>Statut de la réservation: {{ reservation.LABEL_STATUTS }}</p>
                <p>Date: {{ reservation.DATE_VG|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }},
                    de {{ reservation.HEURE_DEBUT_VG|format_datetime(locale='fr',pattern="HH'h'mm") }}
                    à {{ reservation.HEURE_FIN_VG|format_datetime(locale='fr',pattern="HH'h'mm") }}</p>
                <p>Adresse: {{ reservation.ADRESSE_VG }}</p>
                <p>Nom Prénom de réservation: {{ reservation.NOM_RESA }} {{ reservation.PRENOM_RESA }}</p>
                <p>N° Carte d'identiter: {{ reservation.CNI_RESA }}</p>
                <p>Délivrer le: {{ reservation.DELIVRE_CNI_RESA }}</p>
                <p>Délivrer par: {{ reservation.PAR_CNI_RESA }}</p>
                <p>Email de contact: {{ reservation.MAIL_RESA }}</p>
                <p>Portable: {{ reservation.PORTABLE_RESA }}</p>
                {% if reservation.IMMATRICULATION_RESA %}
                    <p>Immatriculation enregistrer: {{ reservation.IMMATRICULATION_RESA }}</p>
                {% endif %}
                <p>Nombre de places réservées: {{ reservation.NBR_RESA }}</p>
                {% if reservation.INFO_RESA %}
                    <p>Informations: {{ reservation.INFO_RESA }}</p>
                {% endif %}
            </section>
            <form class="row boxSite" method="POST" action="{{ route('admin.resa.update', {id: reservation.ID_RESA}) }}"
                  id="formUpdateResa">
                <div class="col-md-3">Votre Choix:</div>
                <div class="col-md-3">
                    <input type="radio" id="choix" name="STATU_RESA" value="2">
                    <label for="choix">Valider</label>
                </div>
                <div class="col-md-3">
                    <input type="radio" id="choix" name="STATU_RESA" value="3">
                    <label for="choix">Annuler</label>
                </div>
                <div class="col-md-3 text-center">
                    <button class="bouton" type="submit">Appliquer</button>
                </div>
            </form>

            <div id="erreurSupp" class="red">
                {% if errors.erreur_supp %}
                    {{ errors.erreur_supp }}
                {% endif %}
            </div>
            <div id="erreur" class="red">
                {% if errors.erreur %}
                    {{ errors.erreur }}
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}