{% extends 'layouts/template.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <main id="connexion" class="boxSite">
        <form action="{{ route('auth.login') }}" method="post" id="loginDb">
            <h3>Connexion</h3>
            <div class="form-group">
                <label for="mail">Mail:</label>
                <input type="text" class="form-control" name="mail" id="login" placeholder="exemple@mail.com">
            </div>
            <div class="form-group">
                <label for="passConnec">Password:</label>
                <input type="password" class="form-control" name="passConnec" id="passConnec">
            </div>

            <div class="d-flex flex-row justify-content-between align-items-center">
                <input class="bouton" type="submit" value="Se connecter" id="subLog">
                <a class="btn btn-outline-light btn-sm" href="{{ route('utilisateur.new') }}">Pas de compte?</a>
            </div>

            <div id="erreurLogin" class="red">
                {% if errors.erreur_log %}
                    {{ errors.erreur_log }}
                {% endif %}
            </div>
        </form>
    </main>
{% endblock %}