{% extends 'layouts/template.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <main id="inscription" class="boxSite">
        <form method="post" action="{{ route('utilisateur.create') }}" id="inscDB">
            <h3>Inscription</h3>
            <div class="form-group">
                <label for="mail_util">*Mail: </label>
                <input type="text" class="form-control" name="mail_util" id="mail" placeholder="exemple@mail.com">
            </div>
            <div class="form-group">
                <label for="mpd_util">*Mot de passe (6 caractère minimum): </label>
                <input type="password" class="form-control" name="mpd_util" id="password">
            </div>
            <div class="form-group">
                <label for="repeat_password">*Répéter Mot de passe: </label>
                <input type="password" class="form-control" name="repeat_password" id="repeat_password">
            </div>
            <div class="form-group">
                <label for="nom_util">Nom: </label>
                <input type="text" class="form-control" name="nom_util" id="nom" placeholder="Dupont">
            </div>
            <div class="form-group">
                <label for="prenom_util">Prénom: </label>
                <input type="text" class="form-control" name="prenom_util" id="prenom" placeholder="Jean">
            </div>
            <div class="form-group">
                <label for="tel_util">Tel.: </label>
                <input type="text" class="form-control" name="tel_util" id="tel" placeholder="0XXXXXXXXX">
            </div>
            <div class="form-group">
                <label for="desc_util">Une déscription à partager? : </label>
                <textarea name="desc_util" id="description" cols="31" rows="5"
                          placeholder="280 caractéres maximum..."></textarea>
            </div>
            <div class="form-group">
                <!-- A l'inscription, le mail est ajouter par trigger dans la table 'mailing_list' -->
                <p>En vous inscrivant, vous recevrez automatiquement les newsletter.</p>
                <p>Vous pouvez vous désinscrire à tout moments.</p>
                <p>(*)Champs obligatoires</p>
            </div>

            <input class="bouton" type="submit" value="Valider" id="subInscription">
            <div id="erreurInscription" class="red">
                {% if errors.erreur_inscription %}
                    {{ errors.erreur_inscription }}
                {% endif %}
            </div>
        </form>

    </main>
{% endblock %}