{% extends 'layouts/template.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block content %}
    <main id="monCompte">
        {% if auth().ADMIN_UTIL == true %}
            <section class="boxSite">
                <h2>Gestion Administrateur:</h2>
                <div id="lienAdmin"><a href="{{ route('admin.index') }}" class="bouton">Gestion</a></div>
            </section>
        {% endif %}

        <section id="récap" class="boxSite">
            <h3>Réservation:</h3>
            {% if reservations|length > 0 %}
                {% for reservation in reservations %}
                    <section id="recapResa">
                        <h4>{{ reservation.LABEL_VG }}</h4>
                        <p>Statut de la réservation: {{ reservation.LABEL_STATUTS }}</p>
                        <p>Date: {{ reservation.DATE_VG|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}, de {{ reservation.HEURE_DEBUT_VG|format_datetime(locale='fr',pattern="HH'h'mm") }} à {{ reservation.HEURE_FIN_VG|format_datetime(locale='fr',pattern="HH'h'mm") }}</p>
                        <p>Adresse: {{ reservation.ADRESSE_VG }}</p>
                        <p>Nom Prénom de réservation: {{ reservation.NOM_RESA }} {{ reservation.PRENOM_RESA }}</p>
                        <p>Email de contact: {{ reservation.MAIL_RESA }}</p>
                        <p>Immatriculation enregistrer: {{ reservation.IMMATRICULATION_RESA }}</p>
                        <p>Nombre de places réservées: {{ reservation.NBR_RESA }}</p>
                        <p>Informations: {{ reservation.INFO_RESA }}</p>
                    </section>
                {% endfor %}
            {% else %}
                <p class="text-center">Pas de réservation pour le moment</p>
                <p class="text-right px-2">
                    <a class="btn btn-outline-light" href="{{ route('videgrenier.index') }}">
                        Voir le prochain vide grenier
                    </a>
                </p>
            {% endif %}
        </section>

        <!-- On créer le form avec les valeurs par défaut du compte -->
        <section id="update" class="boxSite">
            <h3>Modifier Profile</h3>
            <form method="post" action="{{ route('utilisateur.update') }}"
                  id="updateDB">
                <div class="form-group">
                    <label for="MAIL_UTIL">*Mail:</label>
                    <input type="text" class="form-control" name="MAIL_UTIL" id="mail" value="{{ auth().MAIL_UTIL }}"
                           placeholder="exemple@mail.com">
                </div>
                <div class="form-group">
                    <label for="old_password">Ancien Mot de passe:</label>
                    <input type="password" class="form-control" name="old_password" id="old_password">
                </div>
                <div class="form-group">
                    <label for="new_password">Nouveau Mot de passe:</label>
                    <input type="password" class="form-control" name="new_password" id="new_password">
                </div>
                <div class="form-group">
                    <label for="repeat_password">Répeter Nouveau Mot de passe:</label>
                    <input type="password" class="form-control" name="repeat_password" id="repeat_password">
                </div>
                <div class="form-group">
                    <label for="NOM_UTIL">Nom:</label>
                    <input type="text" class="form-control" name="NOM_UTIL" id="nom" value="{{ auth().NOM_UTIL }}"
                           placeholder="Dupont">
                </div>
                <div class="form-group">
                    <label for="PRENOM_UTIL">Prénom:</label>
                    <input type="text" class="form-control" name="PRENOM_UTIL" id="prenom" value="{{ auth().PRENOM_UTIL }}"
                           placeholder="Jean">
                </div>
                <div class="form-group">
                    <label for="TEL_UTIL">Tel.:</label>
                    <input type="text" class="form-control" name="TEL_UTIL" id="tel" value="{{ auth().TEL_UTIL }}"
                           placeholder="0XXXXXXXXX">
                </div>
                <div class="form-group">
                    <label for="DESC_UTIL">Une description à partager ? :</label>
                    <textarea class="form-control" name="DESC_UTIL" id="description" rows="5"
                              placeholder="280 caractéres maximum...">{{ auth().DESC_UTIL }}</textarea>
                </div>
                <div class="form-group">
                    <p>(*)Champs obligatoires pour modifier le profil</p>
                </div>
                <input class="bouton" type="submit" value="Valider" id="subInscription">

                <div id="erreurUpdateInscription" class="red">
                    {% if errors.erreur_update_inscription %}
                        {{ errors.erreur_update_inscription }}
                    {% endif %}
                </div>
            </form>
        </section>
    </main>
{% endblock %}