<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vide Grenier{% endblock %} | CIL de la Gravière</title>
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/monstyle.css') }}">
</head>

<body>
<header id="en_tete">
    <div class="row">
        <div id="logo" class="col-md-4">
            <a href="{{ route('home.index') }}">
                <img id="logoHead" src="{{ asset('/images/logo.png') }}" class="img-fluid" alt="Logo">
            </a>
        </div>
        <nav id="menu_nav" class="col-md-8">
            <ul class="nav nav-pills d-flex align-items-baseline">
                <li class="nav-item">
                    <a class="nav-link" href="{{ route('home.index') }}">Actualités-Manifestations</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ route('home.info') }}">Qui sommes-nous ?</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ route('videgrenier.index') }}">Vide-grenier</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ route('mailing.index') }}">Mailing List</a></li>

                {% if auth(true) %}
                    <li class="nav-item"><a class="nav-link" href="{{ route('utilisateur.show') }}">Mon compte</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ route('auth.logout') }}">Déconnexion</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ route('utilisateur.new') }}">Rejoignez-nous</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ route('auth.signIn') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <img id="paysageHead" src="{{ asset('/images/paysage.png') }}" class="img-fluid" alt="Panorama">
</header>

{% block content %}{% endblock %}

<footer class="footer">
    <p>Copyright © 2020 CIL de la Gravière. All Rights Reserved</p>
    <div class="row">
        <div class="col-md-4">
            <p>Editeur</p>
            <p>Comité d’Intéret Local de la Gravière</p>
            <p>Directeur de la publication : M. VUARCHEX</p>
        </div>
        <div class="col-md-4">
            <img src="{{ asset('/images/logo.png') }}" class="img-fluid" alt="Logo">
        </div>
        <div class="col-md-4">
            <p>Hébergeur</p>
            <p>Mavenhosting</p>
            <p>13714 Boul. Curé-Labelle Saint-Janvier, J7J 1A1</p>
            <p>Québec, Canada</p>
            <p>Tél : +1.8885404678</p>
        </div>
    </div>
</footer>
<script src="{{ asset('/js/jquery-3.5.0.js') }}"></script>
<script src="{{ asset('/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('/js/myscript.js') }}"></script>
</body>

</html>