{% extends 'layouts/template.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <section id="bienvenu" class="boxSite text-center">
        <h1>Bienvenu sur le site du CIL de la Gravière!</h1>
        <h2>Prochainement, nos actualités seront affichées ici!</h2>
    </section>
{% endblock %}