{% extends 'layouts/template.twig' %}

{% block content %}
    <main id="mailing">
        <section class="boxSite">
            <h3>Inscription dans la mailing List du site</h3>
            <h4>Pourquoi? Pour rester au courant des actualitées bien sûr!</h4>
            <form action="{{ route('mailing.create') }}" method="post" id="mailingForm">
                <div class="form-group">
                    <label for="MAIL_ML">Mail: </label>
                    <input type="text" class="form-control" name="MAIL_ML" id="mailInscription"
                           placeholder="exemple@mail.com">
                </div>
                <input class="bouton" type="submit" value="S'inscrire" id="subMailing">
                <div id="erreurMailing" class="red">
                    {% if errors.erreur_mailing %}
                        {{ errors.erreur_mailing }}
                    {% endif %}
                </div>
            </form>
        </section>
        <section class="boxSite">
            <h3>Désinscription de la mailing List du site</h3>
            <h4>Dommage de vous voir partirs...</h4>
            <form action="{{ route('mailing.delete') }}" method="post" id="cancelMailingForm">
                <div class="form-group">
                    <label for="MAIL_ML">Mail: </label>
                    <input type="text" class="form-control" name="MAIL_ML" id="mailCancel"
                           placeholder="exemple@mail.com">
                </div>
                <input class="bouton" type="submit" value="Se désinscrire" id="subCancelMailing">
                <div id="erreurCancelMailing" class="red">
                    {% if errors.erreur_cancel_mailing %}
                        {{ errors.erreur_cancel_mailing }}
                    {% endif %}
                </div>
            </form>
        </section>
    </main>
{% endblock %}