{% extends 'layouts/template.twig' %}

{% block title %}Réservation{% endblock %}

{% block content %}
<input type=hidden id=prixJS value={{ videgrenier.PRIX_EMPLACEMENTS }}/>

<section id="infoResa" class="boxSite">
    <h3>Réservation:</h3>
    <h3>{{ videgrenier.LABEL_VG }}</h3>
    <p>Quand? le {{ videgrenier.DATE_VG }}, {{ videgrenier.HEURE_VG }}</p>
    <p>Où? {{ videgrenier.ADRESSE_VG }}</p>
    <p>Plus que {{ videgrenier.NBR_EMPLACEMENTS }} places disponibles.</p>
</section>

<main id="reservationVideGrenier" class="boxSite">
    <form method="post" action="{{ route('videgrenier.new_resa', {id: videgrenier.ID_VG}) }}" id="resaDB">

        <div class="form-group">
            <label for="MAIL_RESA">*Mail: </label>
            <input type="text" class="form-control" name="MAIL_RESA" id="mail" placeholder="exemple@mail.com" value="{{ auth().MAIL_UTIL }}">
        </div>
        <div class="form-group">
            <label for="NOM_RESA">*Nom: </label>
            <input type="text" class="form-control" name="NOM_RESA" id="nom" placeholder="Dupont" value="{{ auth().NOM_UTIL }}">
        </div>
        <div class="form-group">
            <label for="PRENOM_RESA">*Prénom: </label>
            <input type="text" class="form-control" name="PRENOM_RESA" id="prenom" placeholder="Jean" value="{{ auth().PRENOM_UTIL }}">
        </div>
        <div>
            <label for="ADRESSE_RESA">*Adresse: </label>
            <input type="text" class="form-control" name="ADRESSE_RESA" id="addresse" placeholder="4 avenus de l'exemple">
        </div>
        <div>
            <label for="CODE_POSTAL_RESA">*Code Postal: </label>
            <input type="text" class="form-control" name="CODE_POSTAL_RESA" id="postal" placeholder="XXXXX">
        </div>
        <div>
            <label for="VILLE_RESA">*Ville: </label>
            <input type="text" class="form-control" name="VILLE_RESA" id="ville" placeholder="Saint exemple">
        </div>
        <div class="form-group">
            <label for="PORTABLE_RESA">*Portable: </label>
            <input type="text" class="form-control" name="PORTABLE_RESA" id="portable" placeholder="0XXXXXXXXX" value="{{ auth().TEL_UTIL }}">
        </div>
        <div class="form-group">
            <label for="CNI_RESA">*N° Carte d'identité: </label>
            <input type="text" class="form-control" name="CNI_RESA" id="numCNI" placeholder="">
        </div>
        <div class="form-group">
            <label for="DELIVRE_CNI_RESA">*Délivrée le: </label>
            <input type="date" class="form-control" name="DELIVRE_CNI_RESA" id="dateCNI" placeholder="XX/XX/XXXX">
        </div>
        <div class="form-group">
            <label for="PAR_CNI_RESA">*Délivrée par: </label>
            <input type="text" class="form-control" name="PAR_CNI_RESA" id="parCNI" placeholder="Préfecture de ...">
        </div>
        <div class="form-group">
            <label for="IMMATRICULATION_RESA">Plaque d'immatriculation: </label>
            <input type="text" class="form-control" name="IMMATRICULATION_RESA" id="immatriculation"
                   placeholder="'AB-123-CD' ou '123 AB 45'">
        </div>
        <div class="form-group">
            <label for="NBR_RESA">*Nombre d'emplacements désirer: </label>
            <input type="number" class="form-control" name="NBR_RESA" id="nbrEmplacement" placeholder="" min="1"
                   max="{{ videgrenier.NBR_RESTANT_VG }}">
            <span> {{ videgrenier.PRIX_EMPLACEMENTS }}€ la place.</span>
            <span id='resultatPrix'></span>

        </div>
        <p class="text-justify">Ces emplacements vous sont personnels et seront déclarés au registre réglementaire pour
            remise au Maire de la commune à l'issu du Vide Grenier.</p>

        <p class="text-justify">Ils sont donc non revendable ni cessibles.
            Possibilité de nous contacter pour augmenter la taille ultérieurement (minimum 15j avant la manifestation,
            en fonction des places disponibles).</p>

        <p class="text-justify">Par contre, si nous sommes avertis 7 jours calendaires avant, d’un empêchement majeur de
            votre part, nous vous rembourserons le montant de votre réservation moins les frais de réservation et de
            service s'élevant à 4€.</p>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="infoCheck">
            <label class="form-check-label text-justify" for="infoCheck">*Je certifie sur l'honneur l'exactitude des
                informations remplies</label>
        </div>
        <br/>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="commercantCheck">
            <label class="form-check-label text-justify" for="commercantCheck">*Je certifie sur l'honneur de ne pas être
                commerçant(e)</label>
        </div>
        <br/>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="objetCheck">
            <label class="form-check-label text-justify" for="objetCheck">*Je certifie sur l'honneur de ne vendre que
                des objets personnels et usagés (Article L 310-2 du Code de commerce)</label>
        </div>
        <br/>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="manifestationCheck">
            <label class="form-check-label text-justify" for="manifestationCheck">*Je certifie sur l'honneur de
                non-participation à 2 autres manifestations de même nature au cours de l’année civile. (Article R321-9
                du Code pénal)</label>
        </div>
        <br/>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="parkingCheck">
            <label class="form-check-label text-justify" for="parkingCheck">*Je m'engage a laisser libre les
                emplacements de parking réservés à la décharge des véhicules (cf emplacements verts sur photos plus
                bas), à défaut je sais que je pourrai recevoir un Procès Verbal pour infraction à l'arrêté de non
                stationnement publié par la Mairie pour le jour de la manifestation.</label>
        </div>
        <br/>
        <div class="form-group">
            <label for="INFO_RESA">Une remarque? : </label>
            <textarea name="INFO_RESA" id="remarque" class="form-control" rows="5"
                      placeholder="150 caractéres maximum..."></textarea>
        </div>
        <div class="form-group">

            <div class="form-group">
                <p>(*)Champs obligatoires</p>
            </div>

            <input class="bouton" type="submit" value="Valider" id="subInscription">

            <div id="erreurReservation" class="red">
                {% if errors.erreur_reservation %}
                    {{ errors.erreur_reservation }}
                {% endif %}
            </div>
        </div>
    </form>
</main>
{% endblock %}