{% extends 'layouts/template.twig' %}

{% block title %}Mis à jour du profil{% endblock %}

{% block content %}
    <section id="confirm" class="boxSite py-3">
        <p>Votre mis à jour est validée!</p>
        <a class="btn btn-outline-primary" href="{{ route('utilisateur.show') }}">Retour à mon compte</a>
    </section>
{% endblock %}
