{% extends 'layouts/template.twig' %}

{% block title %}Verification Réservation{% endblock %}

{% block content %}
    <section id="confirm" class="boxSite py-3">
        <p>Votre réservation est validée!</p>
        <a class="btn btn-outline-primary" href="{{ route('utilisateur.show') }}">Voir mon compte</a>
    </section>
{% endblock %}