{% extends 'layouts/template.twig' %}

{% block title %}Inscription Mailing Liste{% endblock %}

{% block content %}
    <section id="confirm" class="boxSite py-3">
        <p>Votre Inscription est validée!</p>
        <a class="btn btn-outline-primary" href="{{ route('home.index') }}">Retour à l'accueil</a>
    </section>
{% endblock %}