{% extends 'layouts/template.twig' %}

{% block title %}Désinscription Mailing Liste{% endblock %}

{% block content %}
    <section id="confirm" class="boxSite py-3">
        <p>Votre Désinscription est validée</p>
        <a class="nav-link" href="{{ route('home.index') }}">Retour a l'accueil</a>
    </section>
{% endblock %}