{% extends 'layouts/template.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <section id="confirm" class="boxSite py-3">
        <p>Votre inscription est validée!</p>
        <a class="btn btn-outline-primary" href="{{ route('auth.signIn') }}">Connexion</a>
    </section>
{% endblock %}