{% extends 'layouts/template.twig' %}

{% block title %}Vide Grenier{% endblock %}

{% block content %}
    <main id="videGrenier" class="text-center">
        {% for videgrenier in videgreniers %}
            <section class="boxSite">
                <h3>Prochain événement du CIL de la Gravière:</h3>
                <h3>{{ videgrenier.LABEL_VG }}</h3>
                <p>Quand? le {{ videgrenier.DATE_VG|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}, de {{ videgrenier.HEURE_DEBUT_VG|format_datetime(locale='fr',pattern="HH'h'mm") }} à {{ videgrenier.HEURE_FIN_VG|format_datetime(locale='fr',pattern="HH'h'mm") }}</p>
                <p>Où? {{ videgrenier.ADRESSE_VG }}</p>
                <p>Exposants ou Visiteurs, nous vous attendons nombreux !</p>
                <p>Réservé exclusivement aux particuliers.</p>
                <!-- <img src="../images/imgVG.jpg" alt="Image de Vide-grenier" id="imgVG"> -->
                {% if videgrenier.NBR_RESTANT_VG > 0 %}
                    <p>Plus que {{ videgrenier.NBR_RESTANT_VG }} places disponibles!</p>
                    {% if auth(true) %}
                        <a href="{{ route('videgrenier.form_resa', {id: videgrenier.ID_VG}) }}" class="bouton">Réservez!</a>
                    {% else %}
                        <a href="{{ route('auth.signIn') }}" class="bouton">Connectez vous pour réserver</a>
                    {% endif %}
                {% else %}
                    <p>Plus de places disponibles!</p>
                {% endif %}
            </section>
        {% endfor %}
    </main>
{% endblock %}